* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --azul-primario: #2694BF;
    --azul-claro: #32BAD9;
    --azul-ceu: #2182BF;
    --azul-escuro: #287696;
    --azul-titulo: #2A5276;
    --azul-marinho: #001D6C;
    --cinza-basico: #DDE1E6;
    --cinza-subtitulo: #ffffff;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--cinza-subtitulo);
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: black;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

/* Definições do header */
.header {
    background-color: black;
    border-bottom: 1px solid var(--cinza-subtitulo);
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}

.opium-logo {
    width: 20%;
    display: flex;
}

.navbar {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: white;
}

.navbar li {
    position: relative;
}

.navbar li::after {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: red;
    transition: width 0.3s ease-in-out;
}

.navbar li:hover::after {
    width: 100%;
    /* Aumentando a largura no hover */
}

a {
    color: white;
    text-decoration: none;
    /* transition: color 0.3s;  */
    transition: transform 0.3s;
}

a:hover {
    color: red;
    transform: scale(1.1);

}

.header .container {
    justify-content: space-between;
}

button.button-login {
    background-color: transparent;
    border: 2px solid var(--cinza-subtitulo);
    color: white;
    font-family: 'Poppins', sans-serif;
}

button.button-login:hover {
    font-family: 'Poppins', sans-serif;
    background-color: var(--cinza-basico);
}


.button-login,
.button-cadastro {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 10px 22px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.button-login:hover,
.button-cadastro:hover {
    background-color: var(--cinza-basico);
    color: black;
    transform: scale(1.1);
}

.home {
    background-image: url(../assets/img/Frame\ 1.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    text-align: center;
    color: white;
}

.home-content h1 {
    font-size: 150px;
    margin-bottom: 20px;
    padding-top: 150px;
}

.seta-icon {
    width: 190px;
    position: relative;
    left: 800px;
    top: 70px;

    cursor: pointer;

    animation-name: move;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.video-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

#video-player {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    object-fit: cover;
    outline: none;
}

.fade-out {
    animation: fadeOut 1s forwards;
}

.fade-in {
    animation: fadeIn 1s forwards;
}

.conceito-opium {
    background-color: black;
    width: 100%;
}

.div-texto {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 50px;
}

.container-conceito {
    display: flex;
    justify-content: center;
    gap: 500px;
}

.gif-opium {
    width: 500px;
}


.texto-conceito {
    max-width: 400px;
    text-align: center;
}

.opium-na-moda {
    background-color: black;
    color: white;
}

.titulo-op-moda {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
}

.container-Fitcards {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 10%;
}

.card-fit1 {
    width: 272px;
    height: 441px;
    background-color: gray;
    margin: 0 10px 10px 0;
}

.video-fit1 {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.card-fit2 {
    width: 315px;
    height: 600px; 
    background-color: gray;
    margin: 0 10px 10px 0;
    transform: translateY(-50px); 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-fit2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.card-fit3 {
    width: 272px;
    height: 441px;
    background-color: gray;
    margin: 0 10px 10px 0;
}

.texto-op-moda {
    display: flex;
    flex-direction: column;
    width: 547px;
    height: 302px;
    margin-left: 1200px;
    margin-bottom: -300px;
}

.container-carrousel {
    position: relative;
    padding: 15px;
    max-width: 1240px;
    margin: 100px auto;
    margin-top: -10px;
}


.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 70px;
}


.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    width: 40px;
    cursor: pointer;
    border: none;
    background: transparent;
}

.arrow-left {
    left: -70px;
    padding-top: 15px;
    /* Ajuste a margem esquerda conforme necessário */
}

.arrow-right {
    left: auto;
    right: -70px;
    padding-top: 7px;

}

.container-carrousel button img {
    width: 40px;
}

.gallery-wrapper {
    overflow-x: auto;
}

.item {
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
}

.current-item {
    opacity: 1;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
}

.texto-members {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 50px;
}

.container-cards {
    display: flex;
    justify-content: center;
    gap: 28px;
}

.card {
    width: 448px;
    height: 778px;

    box-shadow: 0 0 0 1px var(--cinza-subtitulo), 0 0 0 1px var(--cinza-subtitulo) inset;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
    filter: grayscale(0);
}

.artist-img {
    width: 448px;
    height: 778px;

    transition: 0.3s ease-in-out;

    filter: grayscale(100%);
}

.artist-img:hover {
    filter: grayscale(0);
}

.faca-seu-ranking{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.titulo-Ranking {
    text-align: center;
    margin-bottom: 20px; 
}

.title-ranking{
    font-size: 50px;
}

.imagem-ranking img {
    max-width: 100%; 
    height: auto;
    cursor: pointer;
}


footer {
    margin-top: 200px;
    width: 100%;
    height: 70%;
    color: white;
    border-top: 1px solid var(--cinza-subtitulo);
}

.opfooter-symbol{
    width: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 77px;
}

#footer_content{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    pad: 3rem 3.5rem;
}

#footer_contacts, .logo-contacts, .title-contacts{
    margin-bottom: 0.75rem;
    margin-left: 1.5rem;
    color: white;
    font-size: 26px;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    transition: all 0.4s;
}

#instagram, #twitter, #linkedin {
    background: linear-gradient(#555, black, white);
}

#footer_social_media .footer-link i{
    font-size: 1.5rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link:hover{
    color: red;
    transition: all 0.4s;
}


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@keyframes move {
    0% {
        top: 0px;
    }

    100% {}
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}